{% load static %} 
    <header>
      <nav class="navbar navbar-light" style="background-color: lightskyblue">
        <div class="container">
          <a class="navbar-brand" href="{% url "posts:index" %}">
            <img src="{% static "img/logo.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
            <!-- тег span используется для добавления нужных стилей отдельным участкам текста -->
            <span style="color:red; font-family: Didot, serif">Ya</span>tube <span style="font-family: Didot, serif">{{header}}</span> 
          </a>
        </div>
      </nav>
    </header>